# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/images/Shailesh Dhaware-FS Sprint 2 Batch 1 JEE React LS 15Jan2021 Sprint Evaluation.xlsx
src/images/~$Shailesh Dhaware-FS Sprint 2 Batch 1 JEE React LS 15Jan2021 Sprint Evaluation.xlsx
