@import "./../../rbacss/vars";

.mainContainer {
  font-family: "Times New Roman", Times, serif;
  margin-top: 70px;
}

.dTable {
  box-shadow: $lightGreyBorder;
}
.TableData:nth-child(2n) {
  background-color: rgb(226, 244, 255);
}
.tableRow {
  border: 1px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1.3px solid rgb(133, 133, 133);
  &:nth-last-of-type(1) {
    border-bottom: none;
  }
}
.tableColHeader {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid $black;
}
.dDisplayNone {
  display: none;
}
.label {
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .mDisplayNone {
    display: none;
  }
  .dDisplayNone {
    display: block;
  }
}
//This css is for form page
.fixture {
  background-image: url(./abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.formname {
  font-weight: 600;
  text-align: center;
  //margin: 100px 0px;
  padding-top: 30px;
}

.form1 {
  max-width: 800px;
}

.container1 {
  border: 5px solid burlywood;
  max-width: 500px;
  padding: 10px 20px;
  background: lightgray;
  margin: 50px auto;
  padding: 80px;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 100px 0px;
  display: inline-block;
  width: 30%;
}
