$angularBlue: #1976d2;
// $egyptian_blue: #0D3594E5;
// $turquoise: #35D3E1;
$white: #ffffff;
$black: #000000;
$mediumGrey: #f3f3f3e5;
$very_light_grey: #cecece;
$darkBlue: rgb(0, 5, 82);

$cardShadow: 3px 3px 3px $angularBlue, -3px -3px 3px $white;
$lightGreyBorder: 3px 3px 3px #dde1f2, -3px -3px 3px #ddf;
